@model List<List<Karma.Models.Messaging.Message>>
@{
    ViewData["Title"] = "Index";

}
@{ string user = User.Identity.Name;
    List<Karma.Models.Messaging.Message> activeMessages = Model.FirstOrDefault();
    Karma.Models.Messaging.Message recentMessage = activeMessages?.LastOrDefault();
    int? currentChatId = ViewBag.ChatId ?? recentMessage?.Chat.Id;
    List<Karma.Models.Messaging.Message> history = ViewBag.History;
    Karma.Models.Post historyPost = history?.LastOrDefault().Chat.AttachedPost;}
<head>
    <link href="~/css/messages.css" type="text/css" rel="stylesheet" />
</head>

<h3 class=" text-center">Messaging</h3>
    @if (recentMessage == null)
    {
        <div>You don't have any active chat sessions.</div>
    }
    else
    {
        <div class="container">
            <div class="messaging">
                <div class="inbox_msg">
                    <div class="inbox_people">
                        <div class="headind_srch">
                            <div class="recent_heading">
                                <h4>Recent</h4>
                            </div>
                            <div class="srch_bar">
                                <div class="stylish-input-group">
                                    <input type="text" class="search-bar" placeholder="Search">
                                    <span class="input-group-addon">
                                        <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="inbox_chat" id="inbox_list">
                            @foreach (var messages in Model ?? Enumerable.Empty<List<Karma.Models.Messaging.Message>>())
                            {

                                Karma.Models.Messaging.Message m = messages.Last();
                                string otherUser = m.Username;
                                string activeClass = (currentChatId == m.Chat.Id) ? "active_chat" : "";

                                <div class="chat_people @activeClass" id="00@(m.Chat.Id)" onclick="location.href='@($"/Messages?chatId={m.Chat.Id}")'">
                                    <div class="chat_img"> <img src="~/data/UserImages/Default/default.png"> </div>
                                    <div class="chat_ib">
                                        <p>@m.Chat.AttachedPost.UserId</p>
                                        <h5>
                                            <a href="@($"Posts/Details/{m.Chat.AttachedPost.Id}")">@m.Chat.AttachedPost.Title</a>
                                            <span class="chat_date">@m.Date.ToLocalTime()</span>
                                        </h5>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="mesgs">
                        <div class="post_details">
                            <div class="card">
                                <h5 class="card-header">@(historyPost.Title)</h5>
                                <div class="card-body">
                                    <img class="post_img" src="@(historyPost.GetFullImagePath())" />
                                    <h5 class="card-title">Special title treatment</h5>
                                    <p class="card-text">@(historyPost.Description)</p>
                                    @if (historyPost.State == (int)Karma.Models.Post.PostState.Traded)
                                    {
                                        <div class="alert alert-danger" style="float:right; display:inline-block">
                                            <p>This item is already traded.</p>
                                        </div>
                                    }
                                    @if (historyPost.UserId == User.Identity.Name)
                                    {
                                        if (historyPost.State == (int)Karma.Models.Post.PostState.NotSet ||
                                            historyPost.State == (int)Karma.Models.Post.PostState.Open)
                                        {
                                            <a href="#" class="btn btn-primary">Reserve for this user</a>
                                            <a href="#" class="btn btn-primary">Complete trade</a>
                                        }
                                        if (historyPost.State == (int)Karma.Models.Post.PostState.Reserved)
                                        {
                                            <a href="#" class="btn btn-primary">Cancel @(historyPost.ReceiverUserId)'s reservation</a>
                                        }
                                    }
                                </div>

                            </div>
                        </div>
                        <div class="msg_history" id="scrolldown">
                            @foreach (var m in history ?? Enumerable.Empty<Karma.Models.Messaging.Message>())
                            {

                                bool isReceiver = m.Username != user;

                                <div class="@(isReceiver ? "incoming_msg" : "outgoing_msg")">
                                    @if (isReceiver)
                                    {
                                        <div class="incoming_msg_img"> <img src="~/data/UserImages/Default/default.png" alt=""> </div>
                                    }
                                    <div class="@(isReceiver ? "received_msg" : "sent_msg")">
                                        @if (isReceiver)
                                        {
                                            <div class="received_withd_msg">
                                                <p>@m.Text</p>
                                                <span class="time_date">@m.Date.ToLocalTime()</span>
                                            </div>
                                        }
                                        else
                                        {
                                            <p>@m.Text</p>
                                            <span class="time_date">@m.Date.ToLocalTime()</span>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                        <div id='mod1'>Chat is loading...</div>
                    </div>
                </div>
            </div>
        </div>
    }


<script>
        var objDiv = document.getElementById("scrolldown");
        objDiv.scrollTop = objDiv.scrollHeight;
</script>

    @if (recentMessage != null)
    {
        <script>
    $("#mod1").load("/Messages/Create?chatId=@currentChatId");
        </script>
    }



<script>
        setInterval(function () {
            var isScrolled = false;
            if (objDiv.scrollHeight <= (objDiv.scrollTop + objDiv.clientHeight)) {
                isScrolled = true;
            }
            $("#scrolldown").load(location.href + " #scrolldown>*", function () {
                if (isScrolled) {
                    objDiv.scrollTop += 800;
                }
            });

        }, 150);
    setInterval(function () {
        $("#inbox_list").load(location.href + " #inbox_list>*", "");
    }, 1000);
</script>
