@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using Microsoft.AspNetCore.Identity
@using Karma.Models

@inject SignInManager<User> SignInManager
@inject UserManage UserManager

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @UserManager.GetUserName(User)
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a id="manage" class="dropdown-item text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
                @if (User.IsInRole("Admin"))
                {
                    <a id="manage" class="dropdown-item text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Manage page</a>
                }
                @if (User.IsInRole("Charity manager"))
                {
                    <a id="manage" class="dropdown-item text-dark" asp-area="" asp-controller="CharityManager" asp-action="Index">Manage charity</a>
                }
                <div class="dropdown-divider"></div>
                <form id="logoutForm" class="form-inline dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark" style="padding: 0px 0px 0px">@localizer["logout"]</button>
                </form>
            </div>
    </li>
}
else
{
        @*<li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">@localizer["register"]</a>
        </li>*@
    <li class="nav-item">
            <a class="btn btn-outline-secondary text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">
                @localizer["login"]
                <i class="bi bi-person-circle"></i>
            </a>
    </li>
}
</ul>
