@model IEnumerable<Karma.Models.Charity>

@{
    ViewData["Title"] = "Review";
}

@if (Model == null)
{
    <h3>You have currently reviewed all the charity reviewal requests.</h3>
}
else
{
    <table class="table mt-5">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReviewState)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReviewState)
                    </td>
                    <td>
                        <a asp-controller="Admin" asp-action="CharityReview" asp-route-charityId=@item.Id class="btn btn-primary">Review charity</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
