@model Karma.Models.AdminTabViewModel

@{
    ViewData["Title"] = "Index";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link @(Model.ActiveTab == Enums.AdminTab.Users ? "active" : string.Empty)"
           asp-action="SwitchToTabs" asp-route-adminTab="@Karma.Enums.AdminTab.Users">Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(Model.ActiveTab == Enums.AdminTab.CharityReview ? "active" : string.Empty)"
           asp-action="SwitchToTabs" asp-route-adminTab="@Karma.Enums.AdminTab.CharityReview">Charity review</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(Model.ActiveTab == Enums.AdminTab.ReportReview ? "active" : string.Empty)"
           asp-action="SwitchToTabs" asp-route-adminTab="@Karma.Enums.AdminTab.ReportReview">Report review</a>
    </li>
</ul>

@switch (Model.ActiveTab)
{
    case Enums.AdminTab.Users:
        @await Component.InvokeAsync(@Karma.Enums.AdminTab.Users.ToString());
        break;
    case Enums.AdminTab.CharityReview:
        @await Component.InvokeAsync(@Karma.Enums.AdminTab.CharityReview.ToString());
        break;
    case Enums.AdminTab.ReportReview:
        @await Component.InvokeAsync(@Karma.Enums.AdminTab.ReportReview.ToString(), ViewData["reportPage"]);
        break;
    default:
        break;
}