@model Karma.Models.Report

@{
    ViewData["Title"] = "Report Review";
}

@*;*@

<div class="row">
    <div class="col-md-6">
        <h1>Report Review</h1>
    </div>
    <div class="col-md-6">
        <h1>Quick Post View</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div>
            <h4>Report</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">
                    Description:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ReportMessage)
                </dd>
                <dt class="col-sm-3">
                    Reported by:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ReporterId)
                </dd>
                <dt class="col-sm-3">
                    Posted by:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.PostOwnerId)
                </dd>
                <dt class="col-sm-3">
                    Report state:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ReportState)
                </dd>
            </dl>
        </div>
        <div class="form-group" style="display:inline-block" id="confirmPost">
            <a href="#" class="btn btn-success">Confirm report</a>
        </div>
        <div class="form-group" style="display:inline-block" id="rejectPost">
            <a href="#" class="btn btn-warning">Reject report</a>
        </div>
        @*Cancel*@
        <div class="form-group" style="display:inline-block">
            <a asp-action="SwitchToTabs" asp-route-adminTab="@Karma.Enums.AdminTab.ReportReview"
               class="btn btn-primary">
                Cancel
            </a>
        </div>
        <div class="form-group" style="display:inline-block" id="deletePost">
            <a href="#" class="btn btn-danger">Delete Report</a>
        </div>
    </div>
    <div class="col-md-6 border border-info">
        <partial name="~/Views/Posts/Details.cshtml" for="@ViewData["post"]" />
    </div>
</div>


<div>
    <a href="javascript: history.go(-1)">Back to List</a>
</div>

<script>
    var token = $('@Html.AntiForgeryToken()').val();
    $("#deletePost").click(function (e) {
        e.preventDefault();
        $.ajax({
            type: "delete",
            url: "ReportReview?reportId=" + @Model.Id,
            headers: {
                'RequestVerificationToken': token
            },
            success: function (response) {
                history.go(-1);
            }
        });
    });
    $("#confirmPost").click(function (e) {
        e.preventDefault();
        $.ajax({
            type: "put",
            url: "ReportReview?reportId=" + @Model.Id + "&confirm=true",
            headers: {
                'RequestVerificationToken': token
            },
            success: function (response) {
                history.go(-1);
            }
        });
    });

    $("#rejectPost").click(function (e) {
        e.preventDefault();
        $.ajax({
            type: "put",
            url: "ReportReview?reportId=" + @Model.Id + "&reject=true",
            headers: {
                'RequestVerificationToken': token
            },
            success: function (response) {
                history.go(-1);
            }
        });
    });
</script>
