@using Geocoding;

@model Karma.Models.Charity

@{
    ViewData["Title"] = "Details";
    var charityItemTypes = Model.GetItemTypes();
    var charityAddresses = (List<Address>)ViewBag.CharityAddresses;

    double lat = 0;
    double lng = 0;
    if (charityAddresses.Any())
    {
        lat = charityAddresses.First().Coordinates.Latitude;
        lng = charityAddresses.First().Coordinates.Longitude;
    }

    var googleApi = "https://maps.googleapis.com/maps/api/js?key=" + (string) ViewBag.ApiKey;
}

<head>
    <script src=@googleApi></script>
</head>

<h1>@Model.Name</h1>

<body onload="loadMap(@lat, @lng)">
    <div class="container">
        <div class="row align-content-between">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-5 mb-4">
                <h5>
                    @if (charityItemTypes.Any())
                    {
                        foreach (var itemType in Model.CharityItemTypes)
                        {
                            <span class="badge badge-pill badge-info">@itemType.ItemType.Name</span>
                        }
                    }
                </h5>
                <hr />
                @if (Model.ImagePath != null && Model.ImagePath != "")
                {
                    <img src="/@Charity.ImagesDirName/@Model.ImagePath" asp-append-version="true"
                         alt="Item image" class="img-fluid" style="max-width:400px;" />
                    <br />
                }
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-6">
                @if (charityAddresses.Any())
                {
                    <h5 class="mb-4">Where can you find the charity?</h5>
                    <ul class="list-group">
                        @foreach (var address in charityAddresses)
                        {
                            <li class="list-group-item" lat=@address.Coordinates.Latitude
                                lng="@address.Coordinates.Longitude">@address.FormattedAddress</li>
                            }
                    </ul>
                    <div id="map" class="mt-4" style="width:500px; height:400px;"></div>
                }
                else if (Model.CharityAddresses.Any())
                {
                    <h5 class="mb-4">Where can you find the charity?</h5>
                    <ul class="list-group">
                        @foreach (var address in Model.CharityAddresses)
                        {
                            <li class="list-group-item">@address.GetFullAddress()</li>
                        }
                    </ul>
                }
                else
                {
                    <h5>We're sorry, the charity hasn't provided their location</h5><hr />
                }
            </div>
        </div>
    </div>
</body>

<script>
    $(function () {
        $('.list-group li').click(function (e) {
            e.preventDefault();
            $that = $(this);
            $that.parent().find('li').removeClass('active');
            $that.addClass('active');

            var lat = this.attributes.lat.value;
            var lng = this.attributes.lng.value;
            loadMap(lat, lng);
        })
    });

    function loadMap(lat, lng) {
        if (lat != 0 && lng != 0) {
            var mapOptions = {
                center: new google.maps.LatLng(lat, lng),
                zoom: 10
            }

            var map = new google.maps.Map(document.getElementById("map"), mapOptions);

            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(lat, lng),
                map: map,
            });
        }
    }

</script>

