@model Karma.Areas.Identity.Pages.Account.Manage.IndexModel

@{
    ViewData["Title"] = "Profile";

    int points = Model.currentUser.KarmaPoints;
    var rating = Math.Round(Model.RatingAverage);
    var preciseRating = String.Format("{0:0.00}", Model.RatingAverage);
}

<head>
    <link href="~/css/rating.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<h4 class="col-md-4 mb-3" style="font-size: 40px;"><b>@ViewData["Title"]</b></h4>
<html>
<body>
    <div class="container">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <partial name="~/Views/Profile/ProfileBox.cshtml" for="@Model">
                </div>

                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Username</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Model.currentUser.UserName
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Full Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Model.currentUser.Name @Model.currentUser.Surname
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Description</h6>
                                </div>
                                <div style="height: 66px; overflow: hidden; overflow-y: scroll" rows="6" class="col-sm-9 text-secondary">
                                    @Model.currentUser.Description
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (Model.currentUser.UserName == User.Identity.Name)
                    {
                        <div class="row">
                            <div class="col-sm-12">
                                <a class="btn btn-info" asp-controller="Profile" asp-action="Edit" asp-route-id="@Model.currentUser.UserName">Edit</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <partial name="~/Areas/Identity/Pages/Account/Manage/History.cshtml" for="@Model" />
    </div>
</body>
</html>