@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="donateDialog" class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 btn-image">
                    <button type="button" class="btn btn-success">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Posts" asp-action="Index" asp-route-isDonation="false">
                            <div class="row">
                                <h4 class="col-12 text-center btn-title">
                                    @localizer["person"]
                                </h4>
                            </div>
                            <div class="row">
                                <div class="ratio ratio-4x3">
                                    <img src="~/data/person.png" class="img-fluid col-12 mx-auto">
                                </div>
                            </div>
                        </a>
                    </button>
                </div>
                @*TODO: redirect to page with charity requests*@
                <div class="col-6 btn-image">
                    <button type="button" class="btn btn-success"
                            onclick="@("window.location.href='" + @Url.Action("SelectCategory", "Home", new {actionType = Enums.ActionType.Donate}) + "'");">
                        <div class="row">
                            <h4 class="col-12 text-center btn-title">
                                @localizer["charity"]
                            </h4>
                        </div>
                        <div class="row">
                            <div class="ratio ratio-4x3">
                                <img src="~/data/charity.png" class="img-fluid col-12 mx-auto">
                            </div>
                        </div>
                    </button>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-12 text text-center">
                    @localizer["createPostPhrase"]
                </div>
            </div>
            <div class="row">
                <button type="button" class="btn btn-light col" onclick="@("window.location.href='" + @Url.Action("Donate", "Posts") + "'");">
                    <div class="row align-items-center">
                        <div class="col-12 text-center font-weight-bold">
                            @localizer["createPost"]
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>

</body>
</html>
