@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="requestDialog" class="modal-body">
        <div class="container-fluid">
            <div class="row justify-content-around">
                <button type="button" class="btn btn-warning col-10">
                    <a class="nav-link text-dark" asp-controller="Posts" asp-action="Index" asp-route-isDonation="true">
                        <div class="row">
                            <h4 class="col-12 text-center btn-title">
                                @localizer["checkPosts"]
                            </h4>
                        </div>
                        <div class="row">
                            <div class="col-12 text text-center">
                                @localizer["requestDialogPhrase"]
                            </div>
                        </div>
                        <div class="row justify-content-around">
                            <div class="ratio ratio-4x3">
                                <img src="/data/DialogImages/search-posts.png" class="img-fluid col-12 mx-auto">
                            </div>
                        </div>
                    </a>
                </button>
            </div>
            <div class="row">
                <div class="col-12 text text-center">
                    @localizer["createRequestPhrase"]
                </div>
            </div>
            <div class="row">
                <button type="button" class="btn btn-light col" onclick="@("window.location.href='" + @Url.Action("CreateRequest", "Posts") + "'");">
                    <div class="row">
                        <div class="col-12 text-center font-weight-bold">
                            @localizer["createRequest"]
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>

</body>
</html>
