@model Karma.Models.Post

@{
    ViewData["Title"] = Html.DisplayFor(model => model.Title);
}
<h4>@Post.CompareQuerie(Model) @Post.GetPostTypeName(Model.IsDonation)s</h4>
<h1><bold>@Html.DisplayFor(model => model.Title)</bold></h1>

<div>
    <hr />
    Category: @ItemTypes.GetItemType(Model.ItemType)
    <br />
    @Html.DisplayFor(model => model.Description)
    <br />
    @if (Model.ImagePath != null && Model.ImagePath != "")
    {
        <img src="/@Post.ImagesDirName/@Model.ImagePath" asp-append-version="true"
             alt="Item image" class="img-fluid" style="max-width:400px;" />
    }
</div>

<button class="btn btn-success" data-toggle="modal" data-target="#dialog">Reserve this item.</button>
<br />

<div>
    Posted at @Html.DisplayFor(model => model.Date)
</div>
<hr />
<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
        $(() => {
            $('#dialog').on('show.bs.modal', function (event) {
                if (event.relatedTarget.innerHTML == 'Reserve this item.') {
                    $('#dialog .modal-body').load('@Url.Action("YesNoDialog", "Posts")' + "?postId=" + "@Model.Id");
                }
            });
        });
</script>


