@model Karma.Models.Post

@{
    ViewData["Title"] = Html.DisplayFor(model => model.Title);
}
<h4>User @Post.GetPostTypeName(Model.IsDonation)s</h4>
<h1><bold>@Html.DisplayFor(model => model.Title)</bold></h1>

<div>
    <hr />
    Category: @ItemType.GetItemType(((int)Model.ItemType)).Name
    <br />
    @Html.DisplayFor(model => model.Description)
    <br />
    @if (Model.ImagePath != null && Model.ImagePath != "")
    {
        <img src="/PostImages/@Model.GetImageName()" asp-append-version="true"
             alt="Item image" class="img-fluid" style="max-width:400px;" />
    }
</div>
<br />
<div>
    Posted at @Html.DisplayFor(model => model.Date)
</div>
<hr />
<div>
    <a asp-action="Index">Back to List</a>
</div>
