@model Karma.Models.Post

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Post</h4>
<hr />
<div class="row justify-content-between">
    <div class="col-12 col-md-5">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="IsDonation" />
            <input type="hidden" asp-for="Date" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemType" class="control-label">Category</label>
                <select asp-for="ItemType" class="form-control"
                        asp-items='@new SelectList(ItemTypes.Types, "Key", "Value")'>
                    <option>Select...</option>
                </select>
                <span asp-validation-for="ItemType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="6"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label">Update image</label>
                <input type="file" class="form-control-file" accept=".jpg, .jpeg, .png, .bmp" name="file" />
                <span class="text-danger">@ViewBag.Message</span>
            </div>
            <input type="hidden" asp-for="IsVisible" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="col-12 col-md-6">
        <div class="row">
            <h1><bold>@Html.DisplayFor(model => model.Title)</bold></h1>
        </div>
        <div class="row">
            <h5><span class="badge badge-pill badge-info">@ItemTypes.GetItemType(Model.ItemType)</span></h5>
        </div>
        <div class="row mt-3 mb-5">
            @Html.DisplayFor(model => model.Description)
        </div>
        @if (!String.IsNullOrEmpty(Model.ImagePath))
        {
            <hr />
            <img src="/@Model.ImagePath" alt="Item image" class="img-fluid " style="max-height: 300px; max-width: 300px;">
            <hr />
        }
        <div class="row mb-5">
            Posted at @Html.DisplayFor(model => model.Date)
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
