@model IEnumerable<Karma.Models.Post>

@{
    ViewData["Title"] = "All posts";
}

<h1>@ViewBag.Header</h1>

<p>
    <a asp-action="Donate">Create Donation</a>
    <a asp-action="CreateRequest">Create Request</a>
</p>

<html>
<body>
    <div class="container-fluid content-row post-cards">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-12 col-lg-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="" alt="">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">@Html.DisplayFor(modelItem => item.Date)</small>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
</body>
</html>
