@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model CollectionDataModel

@{
    ViewData["Title"] = "All posts";

}

<h1 style="position: relative; left: 15px; margin-bottom: 30px; ">@ViewBag.Header</h1>

<html>
<body>
    <form asp-controller="Posts" asp-action="Index" method="get">
        <p class=" height d-flex" style="position: relative; left: 15px; ">
            <input type="hidden" asp-for="@Model.isDonation">
            <select asp-for="Category" asp-items='@new SelectList(ItemTypes.Types, "Key", "Value")'>
                <option selected value=-1>All</option>
            </select>
                <input class="col-md-3" id="searchId" asp-for="SearchString" placeholder=@Model.SearchString />
                <span asp-validation-for="SearchString" class="text-danger"></span>
                <input class="btn btn-primary" type="submit" value="Search" />
                <script>
                    document.getElementById('searchId').value = '';
                </script>
        </p>
    </form>
    <div class="post-cards container-fluid content-row">
        <div><p style="text-align:center; font-size: 60px;">@ViewBag.Message</p></div>
        <div class="row">
            @foreach (var item in Model.Posts)
            {
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="@((item is not Advert) ? "card h-100" : "card text-white bg-info mb-3 h-100")">
                        @if (@item.ImagePath != null && item.ImagePath != "")
                        {
                            <img class="card-img-top ratio ratio-4x3" src=@item.ImagePath style="max-height:300px; object-fit: cover;">
                        }
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                            @if (item is not Advert)
                            {
                                <h6 class="card-text">@Html.DisplayFor(modelItem => ItemTypes.GetItemType(item.ItemType).Name)</h6>
                            }
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>

                        </div>

                        @if (item is not Advert)
                        {
                            <div class="card-footer">
                                <small class="text-muted">@Html.DisplayFor(modelItem => item.Date)</small>
                                <div class="mb-1">@Post.CompareQuerie(item)</div>
                                @if (item.State == (int)Post.PostState.Reserved)
                                {
                                    <div class="mb-1 d-inline bg-success rounded-pill p-1 pl-2 pr-2">
                                        Reserved
                                    </div>
                                    <br />
                                }
                            </div>
                        }
                        else
                        {
                            <div class="card-footer">
                                <p>@(((Advert)item).EmphasizedMessage)</p>
                            </div>
                        }

                        @if (item is not Advert)
                        {
                            <a class="stretched-link" asp-action="Details" asp-route-id="@item.Id"></a>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>
