@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model IEnumerable<Karma.Models.Post>

@{
    ViewData["Title"] = "All posts";
}

<h1>
    @ViewBag.Header
<meta charset="UTF-8">
<link rel="stylesheet" href="~/css/search.css" type="text/css" />
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
        $(document).ready(function () {
            $(".defaultOption").click(function () {
                $(".dropdown ul").addClass("active");
            });

            $(".dropdown ul li").click(function () {
                var text = $(this).text();
                $(".defaultOption").text(text);
                $(".dropdown ul").removeClass("active");
            });
        });
</script>
</h1>

<html>
<body>
    <div class="wrapper">
        <div class="searchBox">
            <div class="dropdown">
                <div class="defaultOption">All</div>
                <ul>
                    <li>All</li>
                    <li>Recent</li>
                    <li>Clothes</li>
                    <li>Furniture</li>
                    <li>Crafts</li>
                    <li>Tools</li>
                    <li>Books</li>
                    <li>Other</li>
                </ul>
            </div>
            <div class="searchField">
                <input type="text" class="input" placeholder="Search">
                <i class="fas fa-search"></i>
            </div>
        </div>
    </div>
    <div class="container-fluid content-row post-cards">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-12 col-lg-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="" alt="">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">@Html.DisplayFor(modelItem => item.Date)</small>
                            <a asp-action="Details" asp-route-id="@item.Id">Details </a>
                            @if (SignInManager.IsSignedIn(User) && User.Identity.Name == item.UserId)
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit </a>
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>
