@model IEnumerable<Karma.Models.Post>

@{
    ViewData["Title"] = "All posts";
}

<h1>All posts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<style>
    table thead th {
        background-color: #54585d;
        color: #ffffff;
        font-weight: bold;
        font-size: 13px;
        border: 1px solid #54585d;
    }

    table tbody td {
        color: #494747;
        border: 1px solid #dddfe1;
        background-color: #E2DEDD
    }
</style>
<html>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>Users Id</th>
                <th>Post type</th>
                <th>Posting date</th>
                <th>Title</th>
                <th>Item type</th>
                <th>Description</th>
                <th>Image</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostText)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Image)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
