@model Karma.Models.UserReview

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/css/rating.css" type="text/css" rel="stylesheet" />
</head>

<h1>Edit</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="PostId" />
            <input type="hidden" asp-for="CreatorId" />
            <input type="hidden" asp-for="ReceiverId" />
            <input type="hidden" asp-for="Date" />
            <div class="form-group">
                <label asp-for="ReviewText" class="control-label"></label>
                <textarea asp-for="ReviewText" class="form-control" rows="6"></textarea>
                <span asp-validation-for="ReviewText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div asp-for="Rating" class="rating">
                    <input type="radio" name="rating" value="5" id="5" @(Model.Rating == 5 ? "checked" : "")><label for="5">☆</label>
                    <input type="radio" name="rating" value="4" id="4" @(Model.Rating == 4 ? "checked" : "")><label for="4">☆</label>
                    <input type="radio" name="rating" value="3" id="3" @(Model.Rating == 3 ? "checked" : "")><label for="3">☆</label>
                    <input type="radio" name="rating" value="2" id="2" @(Model.Rating == 2 ? "checked" : "")><label for="2">☆</label>
                    <input type="radio" name="rating" value="1" id="1" @(Model.Rating == 1 ? "checked" : "")><label for="1">☆</label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />  |
                <a asp-action="Delete" asp-controller="UserReviews" asp-route-id="@Model.Id">Delete your review</a>
            </div>
        </form>
    </div>
</div>